.title {
	font-size: 25px;
	font-weight: 100;
	text-align: center;
}
.appWraper {
	width: 440px;
	margin: 0 auto;
	overflow-y: auto;
	box-shadow: 4px 6px 20px #e6e6e6;
}
@media (max-width: 1024px) {
	.appWraper {
		width: 100%;
	}
}